*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */

header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 60px;

    background:#ffffff;

    box-shadow:0 3px 10px rgba(0,0,0,.1);

}

/* Logo */

.logo img{

    height:70px;

}

/* Menu */

nav ul{

    display:flex;

    list-style:none;

}

nav ul li{

    margin-left:35px;

}

nav ul li a{

    text-decoration:none;

    color:#123A63;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

nav ul li a:hover{

    color:#007BFF;

}